extends ./../../page-layout/page-template.pug
include ./../../components/room-card/room-card.pug
include ./../../components/widget-title/widget-title.pug
include ./../../components/date-dropdown/date-dropdown.pug
include ./../../components/dropdown/dropdown.pug
include ./../../components/range-slider/range-slider.pug
include ./../../components/checkbox/checkbox.pug
include ./../../components/checkbox-list/checkbox-list.pug
include ./../../components/pagination/pagination.pug

block head-title 
  -
    const title = "search-room-page"

block content
  .container
    .main-content
      .sidebar
        .sidebar__date-dropdown 
          +date-dropdown({
            label: "даты пребывания в отеле", 
            root:"ui-kit-filter-date-dropdown", 
            modification:"filter",
            value:"19 авг - 23 авг"
          })

        .sidebar__guest-dropdown
          +dropdown({
            label: "гости", 
            placeholder: "Сколько гостей", 
            items:[ 
              {name: "взрослые", value: "2"}, 
              {name: "дети", value: "1"}, 
              {name: "младенцы", value: "1"} 
            ]
          })

        .sidebar__range-slider
          +range-slider({label: "диапазон цены", min:"0", max:"15500", start:"5000", end:"10000"})
          .sidebar__range-slider-description Стоимость за сутки пребывания в номере

        .sidebar__rules
          .sidebar__rules-title
            +widget-title({text: "правила дома"})
          .sidebar__rules-item
            +checkbox({label :"Можно курить"})

          .sidebar__rules-item
            +checkbox({label :"Можно с питомцами", checked: true})

          .sidebar__rules-item
            +checkbox({label :"Можно пригласить гостей (до 10 человек)", checked: true})

        .sidebar__availability
          .sidebar__availability-item
            .sidebar__availability-title
              +widget-title({text: "доступность"})
            +checkbox({
              label:"Широкий коридор", 
              description: "Ширина коридоров в номере не менее 91 см.",
              modification:"rich"
            })

          .sidebar__availability-item
            +checkbox({
              label:"Помощник для инвалидов",
              description: "На 1 этаже вас встретит специалист и проводит до номера.",
              modification:"rich"
            })

        .sidebar__comforts-dropdown
          +dropdown({
            label: "удобства номера", 
            placeholder: "Выберете удобства", 
            actionButtons: false, type:"comforts",
            items:[ 
              {name: "спальни", value: "2"}, 
              {name: "кровати", value: "2"}, 
              {name: "ванные комнаты", value: "1"} 
            ]
          })

        .sidebar__checkbox-list
          +checkbox-list({
            title: "дополнительные удобства", 
            items:[ 
              {label: "Завтрак"},
              {label: "Письменный стол", checked: true}, 
              {label: "Стул для кормления", checked: true}, 
              {label: "Кроватка", checked: true}, 
              {label: "Телевизор"}, 
              {label: "Шампунь"}, 
            ]
          })

      .search-room 
        .search-room__title
          +widget-title({text: "Номера, которые мы для вас подобрали", level: "1"})
        .search-room__items 
          -
            const rooms = [
              {
                number: "888", 
                price:"9 990", 
                reviews:"145", 
                rate:"5", type:"люкс", 
                links:[ 
                  src=require('./assets/img/image-1.png'), 
                  src=require('./assets/img/image-1.png'), 
                  src=require('./assets/img/image-1.png'), 
                  src=require('./assets/img/image-1.png'), 
                ]
              },
              {
                number: "840", 
                price:"9 900", 
                reviews:"65", 
                rate:"4" ,
                links:[ 
                  src=require('./assets/img/image.png'), 
                  src=require('./assets/img/image.png'), 
                  src=require('./assets/img/image.png'), 
                  src=require('./assets/img/image.png'), 
                ]
              },
              {
                number: "980", 
                price:"8 500", 
                reviews:"35", 
                rate:"3", 
                type:"люкс", 
                links:[ 
                  src=require('./assets/img/image-2.png'), 
                  src=require('./assets/img/image-2.png'), 
                  src=require('./assets/img/image-2.png'), 
                  src=require('./assets/img/image-2.png'), 
                ]
              },
              {
                number: "856", 
                price:"7 300", 
                reviews:"19", 
                rate:"5", 
                links:[ 
                  src=require('./assets/img/image-5.png'), 
                  src=require('./assets/img/image-5.png'), 
                  src=require('./assets/img/image-5.png'), 
                  src=require('./assets/img/image-5.png'), 
                ]
              },
              {
                number: "740", 
                price:"6 000", 
                reviews:"44", 
                rate:"4", 
                links:[ 
                  src=require('./assets/img/image-3.png'), 
                  src=require('./assets/img/image-3.png'), 
                  src=require('./assets/img/image-3.png'), 
                  src=require('./assets/img/image-3.png'), 
                ]
              },
              {
                number: "982", 
                price:"5 800", 
                reviews:"65", 
                rate:"3", 
                links:[ 
                  src=require('./assets/img/image-4.png'), 
                  src=require('./assets/img/image-4.png'), 
                  src=require('./assets/img/image-4.png'), 
                  src=require('./assets/img/image-4.png'), 
                ]
              },
              {
                number: "678", 
                price:"5 500", 
                reviews:"45", 
                rate:"5", 
                links:[ 
                  src=require('./assets/img/image-8.png'), 
                  src=require('./assets/img/image-8.png'), 
                  src=require('./assets/img/image-8.png'), 
                  src=require('./assets/img/image-8.png'), 
                ]
              },
              {
                number: "450", 
                price:"5 300", 
                reviews:"39", 
                rate:"4", 
                links:[ 
                  src=require('./assets/img/image-6.png'), 
                  src=require('./assets/img/image-6.png'), 
                  src=require('./assets/img/image-6.png'), 
                  src=require('./assets/img/image-6.png'), 
                ]
              },
              {
                number: "350", 
                price:"5 000", 
                reviews:"77", 
                rate:"3", 
                links:[ 
                  src=require('./assets/img/image-7.png'), 
                  src=require('./assets/img/image-7.png'), 
                  src=require('./assets/img/image-7.png'), 
                  src=require('./assets/img/image-7.png'), 
                ]
              },
              {
                number: "666", 
                price:"5 000", 
                reviews:"25", 
                rate:"5", 
                links:[ 
                  src=require('./assets/img/image-10.png'), 
                  src=require('./assets/img/image-10.png'), 
                  src=require('./assets/img/image-10.png'), 
                  
                s
              rc=require('./assets/img/image-10.png'), 
                ]
              },
              {
                number: "444", 
                price:"5 000", 
                reviews:"15", 
                rate:"3", 
                links:[ 
                  src=require('./assets/img/image-9.png'), 
                  src=require('./assets/img/image-9.png'), 
                  src=require('./assets/img/image-9.png'), 
                  src=require('./assets/img/image-9.png'), 
                ]
              },
              {
                number: "352", 
                price:"5 000", 
                reviews:"55", 
                rate:"3", 
                links:[ 
                  src=require('./assets/img/image-11.png'), 
                  src=require('./assets/img/image-11.png'), 
                  src=require('./assets/img/image-11.png'), 
                  src=require('./assets/img/image-11.png'), 
                ]
              }
            ]
          each room in rooms 
            .search-room__item
              +room-card(room)

        .search-room__pagination
          +pagination
