mixin radio(options={})
  -
    const { label, name, value, checked=false } = options
  .radio
    label.radio__label
      input.radio__input(type="radio", name=name, value=value, checked=checked)
      span.checkbox__label-text= label
