include ./../widget-title/widget-title.pug

mixin input(options = {})
  -
    const {
      type, placeholder, value, mask, disabled, readonly, required ,subscribe = false, label = "", textEllipsis = false
        } = options

    let classes =  "input__text-field"
    if (textEllipsis) classes += ' input__text-field_text-ellipsis'

  if (label && !subscribe)
    label.input
      +widget-title({text: label})
      input(
        class=classes,
        type=type,
        placeholder=placeholder,
        value=value,
        data-mask=mask,
        disabled=disabled,
        readonly=readonly,
        required=required
      )

  if (subscribe)
    label.input.input_subscribe
      +widget-title({text: label})
      .input__inner
        input(
          class=classes,
          type="mail",
          placeholder=placeholder,
          value=value,
          disabled=disabled,
          readonly=readonly,
          required=required
        )
        .input__subscribe-arrow
          span.material-icons arrow_forward

  if (label === "" && !subscribe)
    .input  
      input(
        class=classes,
        type=type,
        placeholder=placeholder,
        value=value,
        data-mask=mask,
        disabled=disabled,
        readonly=readonly,
        required=required
      )
