mixin nav-menu(options={})
  -
    const { items = [] } = options

  nav.nav.js-nav
    ul.nav__list 
      each item in items
        -
          const { link = [], active = false, childrens = [] } = item
          let classes = "nav__item js-nav__item"
          if (active) classes += " nav__item_active"
          if (childrens.length > 0) classes += " nav__item_hav-childrens"

        if (childrens.length > 0)
          li(class=classes)
            .nav__item-link
              a.nav__item-href(href=link.href)= link.name
              span.material-icons.nav__item-arrow
            .nav__item-childrens
              each children in childrens
                .nav__item-children
                  a.nav__item-children-href(href=children.href)= children.name
        else
          li(class=classes)
            .nav__item-link
              a.nav__item-href(href=link.href)= link.name
