mixin button(options = {})
  -
    const { 
      text, textColor, color, size,  height, link,
      border, icon, disabled, submit = false, outline = false
      } = options 

    const tag = link ? "a" : "button"

    /*const textColors = {
      white: "button_text-white",
      purple: "button_text-purple"
    }

    const buttonColors = {
      "purple-gradient": "button_purple-gradient",
      white: "button_white",
    }

    const heights = {
      short: "button_height-short",
      medium: "button_height-medium",
      high: "button_height-high"
    }

    const sizes = {
      small: "button_size-small",
      medium: "button_size-medium",
      big: "button_size-big",
    }*/

    const colors = {
      purple: ["button_purple", "button_text-white"],
      white: ["button_white", "button_text-purple"]
    }

    const sizes = {
      none: "button_size-none",
      small: "button_small",
      medium: "button_medium",
      big: "button_big",
    }

    const classes = [
      "button",
      outline ? "button_outlined" : "",
      icon ? "button_with-icon" : "",
      sizes[size], 
      colors[color]
    ]

  if(icon) 
    #{tag}(class=classes, disabled=disabled, href=link)
      span.button__inner
        span.button__text= text
        span.button__icon
            span.material-icons= icon
  else 
    #{tag}(class=classes, disabled=disabled href=link)
      span.button__text= text