mixin button(options = {})
  -
    const { 
      text, color, link, icon, 
      disabled, type, outline = false, size = 'default'
      } = options 

    const tag = link ? "a" : "button"

    const colors = {
      main: ["button_color-main", "button_text-color-secondary"],
      secondary: ["button_color-secondary", "button_text-color-main"]
    }

    const sizes = {
      default: "button_size-default",
      small: "button_size-small",
      medium: "button_size-medium",
      big: "button_size-big",
    }

    const classes = [
      "button",
      outline ? "button_outlined" : "",
      icon ? "button_with-icon" : "",
      sizes[size], 
      colors[color]
    ]

  if(icon) 
    #{tag}(class=classes, disabled=disabled, href=link, type=type)
      span.button__inner
        span.button__text= text
        span.button__icon
            span.material-icons= icon
  else 
    #{tag}(class=classes, disabled=disabled href=link type=type)
      span.button__text= text