mixin button(options = {})
  -
    const { text, modification, disabled, short = false, submit = false} = options 
    let classes = "button"
    const variantModifiers = ["simple", "purple", "purple-link", "purple-border"]
    let type

    if(submit) type = "submit"
    if(short) classes+= " button_short"
    if (variantModifiers.includes(modification)) {
      classes += ` button_${modification}`;
    }

  if (modification === "purple-link")
    button(class=classes, disabled=disabled, type=type)
      span.button__text= text
      span.button__icon
        span.material-icons arrow_forward

  else
    button(class=classes, disabled=disabled)
      span.button__text= text
