mixin button(options = {})
  -
    const { 
      text, color, size, link, icon, 
      disabled, submit = false, outline = false
      } = options 

    const tag = link ? "a" : "button"

    const colors = {
      main: ["button_color-main", "button_text-color-secondary"],
      secondary: ["button_color-secondary", "button_text-color-main"]
    }

    const sizes = {
      none: "button_size-none",
      small: "button_small",
      medium: "button_medium",
      big: "button_big",
    }

    const classes = [
      "button",
      outline ? "button_outlined" : "",
      icon ? "button_with-icon" : "",
      sizes[size], 
      colors[color]
    ]

  if(icon) 
    #{tag}(class=classes, disabled=disabled, href=link)
      span.button__inner
        span.button__text= text
        span.button__icon
            span.material-icons= icon
  else 
    #{tag}(class=classes, disabled=disabled href=link)
      span.button__text= text