include ./../like-button/like-button.pug

mixin comment(options={})
  -
    const { src, name, time, comment, count ,liked=false } = options

  .comment
    .comment__header 
      .comment__img
        img(src=src, alt="avatar")
      .comment__info 
        .comment__person-name= name 
        .comment__time= time
    .comment__content 
      .comment__like
        +like-button({count, liked})
      .comment__text= comment 
