mixin checkbox(options={})
  -
    const { label, name, value, checked = false , modification, description } = options

  if (modification === "rich")
    .checkbox
      label.checkbox__label
        input.checkbox__input(
          type="checkbox",
          name=name,
          value=value,
          checked=checked
        )
        span.checkbox__rich-label
          span.checkbox__rich-label-text= label
          span.checkbox__rich-label-sub-text= description

  else
    .checkbox
      label.checkbox__label
        input.checkbox__input(
          type="checkbox",
          name=name,
          value=value,
          checked=checked
        )
        span.checkbox__label-text= label
