mixin checkbox(options={})
  -
    const { label, name, value, checked=false , mod, description} = options

  if (mod === 'rich')
    .checkbox
      label.checkbox__label
        input.checkbox__input(
          type="checkbox",
          name=name,
          value=value,
          checked=checked
        )
        span.checkbox__label-rich
          span.checkbox__label-text= label
          span.checkbox__label-sub-text= description

  else
    .checkbox
      label.checkbox__label
        input.checkbox__input(
          type="checkbox",
          name=name,
          value=value,
          checked=checked
        )
        span.checkbox__label-text= label
