include ./../../components/head/head.pug
include ./../../components/room-search-form/room-search-form.pug
include ./../../components/register-account-form/register-account-form.pug
include ./../../components/booking-form/booking-form.pug
include ./../../components/login-form/login-form.pug
include ./../../components/room-card/room-card.pug

+head({title: "Cards"})
body 
  header.header
  .wrapper 
    main.main
      .container
        .ui-kit
          .ui-kit__colum
            .ui-kit__search-form
              +room-search-form()

            .ui-kit__register-account-form
              +register-account-form()

          .ui-kit__colum
            .ui-kit__booking-form
              +booking-form({
                number: "888", 
                firsDate: "19.08.2019", 
                secondDate: "23.08.2019" , 
                adult: "2", 
                child: "1", 
                baby: "0",
                price: "9 000", 
                days: "4"})

            .ui-kit__login-form 
              +login-form()
              
          .ui-kit__colum 
            .ui-kit__calendar
            .ui-kit__room-card
              +room-card({number: "888",  type:"люкс", price:"9 990", reviews:"145", rate:"5", links:[
                src=require('./images/room-2.png'),
                src=require('./images/room-1.png'),
                src=require('./images/room-2.png'),
                src=require('./images/room-1.png'),
              ]})

            .ui-kit__room-card
              +room-card({number: "840", price:"9 900", reviews:"65", rate:"4", links:[
                src=require('./images/room-1.png'),
                src=require('./images/room-2.png'),
                src=require('./images/room-1.png'),
                src=require('./images/room-2.png'),
              ]})



      
    footer.footer 