include ./../rate-button/rate-button.pug

mixin room-card(options = {})
  - const { number, price, reviews = "0", rate = "0", type, links = [] } = options;
  .room-card
    .room-card__images.js-room-card__images
      each src in links 
        .room-card__photo
          img.room-card__img(src=src, alt="room-photo")
    .room-card__info 
      .room-card__number №
        span.room-card__number-value= number
      .room-card__type= type
      .room-card__price= `${price}₽ `
        span.room-card__price-name в сутки
    .room-card__reviews-items
      +rate-button({rate: rate})
      .room-card__reviews= `${reviews} Отзывов`
