mixin benefits(options = {})
  -
    const { src, title, description, underlined } = options
    let classes = "benefits"
    if (underlined) classes += " benefits_underlined"

  div(class=classes)
    .benefits__img 
      img(src=src, alt=alt)
    .benefits__description 
      .benefits__title= title
      .benefits__sub-title= description
